<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748261264349-o54h79g3nbbnmhs87gf4qvltkp8pp0t9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748261264349-o54h79g3nbbnmhs87gf4qvltkp8pp0t9</string>
	<key>API_KEY</key>
	<string>AIzaSyAron4q5vo0O_Olrx7H5fSOOd61dN4qCWk</string>
	<key>GCM_SENDER_ID</key>
	<string>748261264349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lilian.grasset.LearningApp</string>
	<key>PROJECT_ID</key>
	<string>learning-app-67a27</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-app-67a27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748261264349:ios:b271906555bb5de56a0434</string>
</dict>
</plist>